<template>
    <div class="account">
        <div class="flex-1">
        </div>

        <div class="flex-2">
            <v-card class="dark white--text">
                <v-card-text class="white--text">
                    <h1>Hello</h1>
                </v-card-text>
            </v-card>
        </div>

        <div class="flex-1">
        </div>
    </div>
</template>

<script>
    export default { }
</script>

<style scoped>
.account {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}
</style>