<template>
    <div>
            <v-row>
                <v-col>
                </v-col>
                <v-col>
                    <v-card>
                        <v-card-title class="dark white--text">
                            <h2>
                                <span class="primary--text">L</span>
                                <span class="font-weight-light">ogin</span>
                            </h2>
                        </v-card-title>
                        <v-card-text>
                            <v-form class="pt-3 ">
                                <v-text-field v-model="user.username" label="Username"></v-text-field>
                                <v-text-field v-model="user.password" type="password" label="Password"></v-text-field>
                            </v-form>
                        </v-card-text>
                        <v-divider></v-divider>
                        <v-card-actions>
                            <v-btn text to="/auth/register">Register</v-btn>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" @click="submit" text>Login</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
                <v-col>

                </v-col>
            </v-row>
    </div>
</template>

<script>

import APIService from '../../services/APIService';

export default {
    data() {
        return {
            user: {
                username: "",
                password: ""
            }
        }
    },
    methods: {
        submit: function ()
        {
            APIService.login(this.user).then((res) => {
                console.log(res);
                
                if (res.data) {
                    this.$store.dispatch('setToken', res.data.access_token);
                    this.$router.push({name: 'Index'});
                    return;
                }
                
            }).catch((error) => {
                console.error(error);
            });
        }
    }
};
</script>

<style></style>
