<template>
    <div>
        <v-container fill-height fluid>
            <v-row>
                <v-col></v-col>
                <v-col>
                    <v-card>
                        <v-card-title class="dark white--text">
                            <h2>
                                <span class="primary--text">R</span>
                                <span class="font-weight-light">egister</span>
                            </h2>
                        </v-card-title>
                        <v-card-text>
                            <v-form class="pt-3 ">
                                <v-text-field v-model="user.name" label="Name"></v-text-field>
                                <v-text-field v-model="user.username" label="Username"></v-text-field>
                                <v-text-field v-model="user.email" type="email" label="Email"></v-text-field>
                                <v-text-field v-model="user.password" type="password" label="Password"></v-text-field>
                            </v-form>
                        </v-card-text>
                        <v-divider></v-divider>
                        <v-card-actions>
                            <v-btn text to="/auth/login">Login</v-btn>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" @click="submit" text>Register</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
                <v-col>

                </v-col>
            </v-row>



        </v-container>

    </div>
</template>

<script>

import APIService from '../../services/APIService';

export default {
    data() {
        return {
            user: {
                name: "",
                username: "",
                email: "",
                password: ""
            }
        }
    },
    methods: {
        submit: function ()
        {
            APIService.register(this.user).then((data) => {
                if (data.errors) {
                    //TODO: Add validation
                    return;
                }

                this.$router.push("/auth/login");
            }).catch((error) => {
                console.error(error);
            });
        }
    }
};
</script>

<style></style>
