<template>
    <v-app >
        <Navbar />
        <v-content class="grey lighten-2">
        <v-container>
            <router-view></router-view>
        </v-container>
        </v-content>
    </v-app>
</template>

<script>
import Navbar from "./components/inc/Navbar";


export default {
    name: "App",

    components: {
        Navbar
    },

    data: () => ({
        //
    })
};
</script>
