<template>
  <div>
      <v-card outlined class="mb-4">
          <v-card-text>
                <!-- <v-btn icon color="red" class="remove">
                    <v-icon>mdi-close</v-icon>
                </v-btn> -->
                <h4>{{comment.text}}</h4>
                <v-divider class="my-2"></v-divider>
                <small>Posted by <b>{{comment.poster_id.username}}</b></small>
          </v-card-text>
      </v-card>
  </div>
</template>

<script>
export default {
    props: ['comment']
}
</script>

<style>

</style>