<template>
<div class="loader-container">

    <v-progress-circular v-if="progress == 'loading'"
      :size="70"
      :width="7"
      indeterminate
    ></v-progress-circular>

    <p v-if="progress == 'failed'">{{failText}}</p>

</div>
</template>

<script>
export default {
    props: ['progress', 'failText' ],
    watch: {
        progress: (newVal, oldVal) => {

            if (newVal == "loading") {
                // this.$emit("hide");
            }
            else if (newVal == "failed"){
                // this.$emit("hide");
            }
            else if (newVal == "success"){
                // this.$emit("unhide");
            }

            console.log('Prop changed: ', newVal, ' | was: ', oldVal)
        }
    }
}
</script>

<style scoped>
.loader-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
</style>