<template>
    <nav>
        <v-app-bar dark app>

            <v-app-bar-nav-icon @click="drawer = !drawer" class="hidden-md-and-up">

            </v-app-bar-nav-icon>

            <v-toolbar-title to="/" class="text-uppercase">
                <span to="/" class="primary--text">Todo</span>
                <span to="/" class="font-weight-light ">Board</span>
            </v-toolbar-title>

            <v-spacer></v-spacer>

            <!-- If logged in -->
            <div v-if="loggedIn">
                <!-- <v-btn depressed active-class="gray" to="/teams" class="hidden-sm-and-down ml-4">
                    <span>Teams</span>
                </v-btn> -->
                <v-btn depressed active-class="gray" to="/projects" class="hidden-sm-and-down ml-4">
                    <span>Projects</span>
                </v-btn>
                <!-- <v-btn depressed active-class="gray" to="/auth/account" class="hidden-sm-and-down ml-4">
                    <span>Account</span>
                </v-btn> -->
                <v-btn depressed  to="/auth/logout" color="red" class="ml-4">
                    <span>Sign Out</span>
                </v-btn>
            </div>
            <!-- end If logged in -->

            <!-- If logged out -->
            <div v-if="!loggedIn">
                <v-btn depressed active-class="gray" to="/auth/login">
                    <span>Login</span>
                </v-btn>
                <v-btn depressed active-class="gray" to="/auth/register">
                    <span>Register</span>
                </v-btn>
            </div>
            <!-- end If logged out -->


        </v-app-bar>

        <!-- TODO: https://www.youtube.com/watch?v=DnxplXitv8w&list=PL4cUxeGkcC9g0MQZfHwKcuB0Yswgb3gA5&index=10 -->

        <v-navigation-drawer v-model="drawer" :width="350" temporary absolute >
            <v-list>
                <v-list-item-group color="primary">
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon>mdi-account</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title>Hello</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
                </v-list>
        </v-navigation-drawer>
    </nav>
</template>

<script>
export default {
    data() {
        return {
            drawer: false
        }
    },
    computed: {
        loggedIn() {
            return this.$store.getters.loggedIn;
        }
    }
}
</script>

<style>

</style>