<template>
  <div>
    <v-card :outlined="user._id != project.user_id" class="mb-4">
    <v-card-text>
        <div class="permission-group">
        <div class="permission-item">
            <small v-if="user._id == project.user_id" class="primary--text">You</small>
            <small v-if="user._id != project.user_id">User</small>
            <h4 >{{user.username}}</h4>
        </div>

        <div class="permission-item">
            <small>Permission</small>
            <v-select v-click-outside="save" v-model="value" v-if="editing"
                :items="permissions"
                label="Permission"
                solo
            ></v-select>
            <div v-if="!editing">
                <h4 v-if="user.permission != 'owner' && user._id != project.user_id" @dblclick="editing = !editing">{{user.permission}}</h4>
                <h4 v-if="user.permission == 'owner' || !canEditPermissions || user._id == project.user_id">{{user.permission}}</h4>
            </div>
        </div>
        </div>
    </v-card-text>
    </v-card>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside';
import APIService from '../../services/APIService';

export default {
    props: ['project', 'user'],
    created()
    {
        this.value = this.$props.user.permission;

        console.log(this.$props.user);
    },
    computed: {
        canEditPermissions() {
          return (this.$props.project.permission == "admin" || this.$props.project.permission == "owner");
        }
    },
    data()
    {
        return {
            editing: false,
            value: "",
            permissions: [
              {
                text: "View",
                value: "view"
              },
              {
                text: "Comment",
                value: "comment"
              },
              {
                text: "Edit",
                value: "edit"
              },
              {
                text: "Admin",
                value: "admin"
              }
            ],
        }
    },
    methods: {
        save() {

            APIService.updateProjectPermission(this.$props.project._id, this.$props.user._id, { permission: this.value }).then((res) => {
                if (res.data) {
                    this.$emit('change');
                    this.editing = !this.editing;
                }
            }).catch((err) => {
                console.error(err);
            });
        }
    },
    directives: {
        ClickOutside
    }
}
</script>

<style scoped>
.permission-group
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
</style>
