<template>
  <v-dialog max-width="600px">
      <v-btn text slot="activator">
          {{btnText}}
      </v-btn>
      
      <slot></slot>
  </v-dialog>
</template>

<script>
export default {
    props: ['btnText']
}
</script>

<style>

</style>