<template>
<div>
    <v-navigation-drawer v-model="open" right temporary absolute :width="500">

            <v-tabs vertical>
      <v-tab>
        <v-icon left>mdi-information</v-icon>
      </v-tab>
      <v-tab @click="loadComments">
        <v-icon left>mdi-comment</v-icon>
      </v-tab>

      <v-tab-item>
        <v-card flat>
          <v-card-text>

            <v-toolbar flat>
              <v-toolbar-title><h2>Information</h2></v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn v-if="canEdit" class="red white--text" depressed @click="deleteItem">
                  Delete Item
              </v-btn>
          </v-toolbar>
          <v-divider class="my-4"></v-divider>

            <h1 v-if="!editing.name" @dblclick="editName" class="pb-1">{{item.name}}</h1>
            <div v-if="editing.name">
                <v-text-field v-model="newValues.name" v-click-outside="saveName" label="name" solo color="white" class="grey--text text--darken-4"></v-text-field>
            </div>

            <p v-if="!editing.description" @dblclick="editDescription" class="grey--text text--darken-2">{{item.description}}</p>
            <div v-if="editing.description">
                <v-textarea v-model="newValues.description" v-click-outside="saveDescription" label="Description" solo color="white" class="grey--text text--darken-2"></v-textarea>
            </div>

            <div v-if="canEdit">
              <v-select
                :items="states"
                filled
                label="State"
                @change="save"
                v-model="newValues.state"
              ></v-select>
            </div>

            <div v-if="!canEdit">
              <p> State: <b> {{item.state}}</b></p>
            </div>

          </v-card-text>
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-toolbar flat>
              <v-toolbar-title><h2>Comments</h2></v-toolbar-title>
            </v-toolbar>
          <v-divider class="my-4"></v-divider>
              <div v-if="canComment">
              <v-form>
                <v-text-field label="Comment" color="white" v-model="comment.text" filled class="grey--text text--darken-2" @focus="comment.focused = true"></v-text-field>
                <v-layout row wrap justify-end v-if="comment.focused">
                    <v-flex shrink>
                        <!-- <v-btn primary dark>Normal</v-btn> -->
                        <v-btn text @click="comment.focused = false; comment.text = ''">Cancel</v-btn>
                        <v-btn text color="primary" @click="postComment">Post</v-btn>
                    </v-flex>
                </v-layout>
              </v-form>
                <v-divider v-if="comment.focused" class="my-4"></v-divider>

                <v-divider v-if="!comment.focused" class="mb-4"></v-divider>
              </div>

            <div v-if="!canComment">
              <h3>You don't have permission to comment</h3>
              <v-divider class="my-4"></v-divider>
            </div>


              <div v-if="loadingComments.display">
                <Comment v-for="comment in comments" :key="comment._id" :comment="comment" />
              </div>
              <div v-if="!loadingComments.display">
                <Loader :progress="loadingComments.progress" fail-text="No Comments" />
              </div>
              <!-- <p v-if="comments.length <= 0">No Comments</p> -->
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>


    </v-navigation-drawer>
</div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
import Comment from '../Comment';
import Loader from '../Loader';

import APIService from '../../../services/APIService';

export default {
    props: ['visible', 'project', 'item'],
    components: {
        Comment,
        Loader
    },
    computed: {
        open: {
          get: function() {
            this.loadInformation();
            return this.$props.visible;
          },
          set: function(state) {
            if (state)
              this.$emit('open');
            else
              this.$emit('close');
          }
        },
        canEdit() {
          return (this.$props.project.permission == "edit" || this.$props.project.permission == "admin" || this.$props.project.permission == "owner");
        },
        canComment() {
          return (this.$props.project.permission != "view");
        }
    },
    data() {
        return {
            comment: {
                focused: false,
                text: ""
            },
            editing: {
                name: false,
                description: false
            },
            newValues: {
                name: "",
                description: "",
                state: ""
            },
            comments: [],
            states: [
              {
                text: "Waiting",
                value: "waiting"
              },
              {
                text: "In Progress",
                value: "in_progress"
              },
              {
                text: "Done",
                value: "done"
              }
            ],
            stage: 0,
            loadingComments: {
              loading: true,
              display: false,
              progress: "loading"
            }

        }
    },
    methods: {
        saveName: function() {
            this.editing.name = false;

            if (this.newValues.name == this.$props.item.name) {
              return;
            }

            this.save();
        },
        saveDescription: function() {
            this.editing.description = false;

            if (this.newValues.description == this.$props.item.description) {
              return;
            }

            this.save();
        },
        save() {
            APIService.updateItem(this.$props.project._id, this.$props.item.board_id, this.$props.item._id, this.newValues).then((res) => {
              if (res.data) {
                //TODO: Display saved

                this.$props.item.name = res.data.item.name;
                this.$props.item.description = res.data.item.description;

                this.$emit('change');
              }
            }).catch((error) => console.error(error));
        },
        loadInformation(){
          this.newValues.name = this.$props.item.name;
          this.newValues.description = this.$props.item.description;
          this.newValues.state = this.$props.item.state;
        },
        loadComments()
        {
          this.loadingComments.progress = "loading";
          this.loadingComments.display = false;

          this.comments = [];
          
          APIService.getItemComments(this.$props.project._id, this.$props.item.board_id, this.$props.item._id).then((res) => {
            if (res.data) {
              this.comments = res.data;

              if (this.comments <= 0) {
                this.loadingComments.progress = "failed";
                this.loadingComments.display = false;
              }
              else
              {
                this.loadingComments.progress = "success";
                this.loadingComments.display = true;
              }
            }
          }).catch((error) => {
            console.error(error);
              this.loadingComments.progress = "failed";
                this.loadingComments.display = false;
                });
        },
        postComment()
        {
          APIService.storeItemComment(this.$props.project._id, this.$props.item.board_id, this.$props.item._id, {text: this.comment.text}).then((res) => {
            if (res.data) {
              this.comment.text = "";
              this.comment.focused = false;

              this.loadComments();
              //TODO: show successfull comment post
            }

          }).catch((error) => console.error(error));
        },
        deleteItem()
        {
          APIService.deleteItem(this.$props.project._id, this.$props.item.board_id, this.$props.item._id).then((res) => {
            this.$props.visible = false;
            this.$emit('close');
            this.$emit('change');
          }).catch(error => console.error(error));
        },
        editName()
        {
          if (this.canEdit) {
            this.editing.name = !this.editing.name;
          }
        },
        editDescription()
        {
          if (this.canEdit) {
            this.editing.description = !this.editing.description;
          }
        }
    },
    directives: {
        ClickOutside
    }
}
</script>

<style>

</style>