<template>
<div>
    <v-navigation-drawer v-model="open" temporary absolute :width="500">

            <v-tabs vertical>
      <v-tab>
        <v-icon left>mdi-information</v-icon>
      </v-tab>
      <v-tab>
        <v-icon @click="loadPermissions" left>mdi-account-box</v-icon>
      </v-tab>
      <v-tab @click="loadComments">
        <v-icon left>mdi-comment</v-icon>
      </v-tab>

      <v-tab-item>
        <v-card flat>
          <v-card-text>

            <v-toolbar flat>
            <v-toolbar-title><h2>Information</h2></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn v-if="canEditPermissions" class="red white--text" depressed @click="deleteProject">
                Delete Project
            </v-btn>
        </v-toolbar>
        <v-divider class="my-4"></v-divider>

            <h1 v-if="!editing.name" @dblclick="editName" class="pb-1">{{project.name}}</h1>
            <div v-if="editing.name">
                <v-text-field v-model="newValues.name" v-click-outside="saveName" label="name" solo color="white" class="grey--text text--darken-4"></v-text-field>
            </div>

            <p v-if="!editing.description" @dblclick="editDescription" class="grey--text text--darken-2">{{project.description}}</p>
            <div v-if="editing.description">
                <v-textarea v-model="newValues.description" v-click-outside="saveDescription" label="Description" solo color="white" class="grey--text text--darken-2"></v-textarea>
            </div>

            <!-- <div v-if="canEdit">
              <v-divider class="mb-4"></v-divider>
              <v-btn text color="red" @click="deleteProject">Delete project</v-btn>
            </div> -->

          </v-card-text>
        </v-card>
      </v-tab-item>

          <v-tab-item>
        <v-card flat>
          <v-card-text>
            <!-- <div>
              <h1 class="my-4">Permissions</h1>
              <v-spacer></v-spacer>
              <v-btn v-if="canEditPermissions" @click="openAddUserDialog">Add user</v-btn>
            </div> -->

          <v-toolbar flat>
            <v-toolbar-title><h2>Permissions</h2></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn v-if="canEditPermissions" depressed @click="openAddUserDialog">
                Add User
                <v-icon color="dark">mdi-plus</v-icon>
            </v-btn>
        </v-toolbar>
        <v-divider class="my-4"></v-divider>
            <div>
              <Permission @change="loadPermissions" v-for="user in users" :key="user._id" :user="user" :project="project"/>
            </div>
          </v-card-text>
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-toolbar flat>
              <v-toolbar-title><h2>Comments</h2></v-toolbar-title>
            </v-toolbar>
          <v-divider class="my-4"></v-divider>

            <div v-if="canComment">
              <v-form>
                <v-text-field label="Comment" color="white" v-model="comment.text" filled class="grey--text text--darken-2" @focus="comment.focused = true"></v-text-field>
                <v-layout row wrap justify-end v-if="comment.focused">
                    <v-flex shrink>
                        <!-- <v-btn primary dark>Normal</v-btn> -->
                        <v-btn text @click="comment.focused = false; comment.text = ''">Cancel</v-btn>
                        <v-btn text color="primary" @click="postComment">Post</v-btn>
                    </v-flex>
                </v-layout>
              </v-form>
                <v-divider v-if="comment.focused" class="my-4"></v-divider>

                <v-divider v-if="!comment.focused" class="mb-4"></v-divider>
              </div>

            <div v-if="!canComment">
              <h3>You don't have permission to comment</h3>
              <v-divider class="my-4"></v-divider>
            </div>

              <Comment v-for="comment in comments" :key="comment._id" :comment="comment" />
              <h3 v-if="comments.length <= 0">No Comments</h3>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>


<v-dialog v-model="newUser.dialogOpen" key="addUser" max-width="600px" >
    <v-card>
        <v-card-title class="dark white--text">
            <h2>
                <span class="primary--text">Add</span>
                <span class="font-weight-light"> User</span>
            </h2>
        </v-card-title>
        <v-card-text>
            <v-form class="pt-3 ">
                <v-text-field v-model="newUser.name" label="Username or Email"></v-text-field>
                <v-select v-model="newUser.permission"
                  :items="permissions"
                  label="Permission"
                ></v-select>
            </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
            <v-btn text @click="closeAddUserDialog">Cancel</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="addUser">Add</v-btn>
        </v-card-actions>
      </v-card>
  </v-dialog>

    </v-navigation-drawer>


</div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
import Comment from '../Comment';
import Permission from '../Permission';

import APIService from '../../../services/APIService';

export default {
    props: ['visible', 'project'],
    components: {
        Comment, Permission
    },
    computed: {
        open: {
          get: function() {
            this.loadInformation();
            return this.$props.visible;
          },
          set: function(state) {
            if (state)
              this.$emit('open');
            else
              this.$emit('close');
          }
        },
        canEdit() {
          return (this.$props.project.permission == "edit" || this.$props.project.permission == "admin" || this.$props.project.permission == "owner");
        },
        canComment() {
          return (this.$props.project.permission != "view");
        },
        canEditPermissions() {
          return (this.$props.project.permission == "admin" || this.$props.project.permission == "owner");
        },
    },
    data() {
        return {
            comment: {
                focused: false,
                text: ""
            },
            editing: {
                name: false,
                description: false
            },
            newValues: {
                name: "",
                description: ""
            },
            comments: [],
            users: [],
            newUser: {
              dialogOpen: false,
              name: "",
              permission: "view"
            },
            permissions: [
              {
                text: "View",
                value: "view"
              },
              {
                text: "Comment",
                value: "comment"
              },
              {
                text: "Edit",
                value: "edit"
              },
              {
                text: "Admin",
                value: "admin"
              }
            ],
        }
    },
    methods: {
        saveName: function() {
            this.editing.name = false;

            if (this.newValues.name == this.$props.project.name) {
              return;
            }

            this.save();
        },
        saveDescription: function() {
            this.editing.description = false;

            if (this.newValues.description == this.$props.project.description) {
              return;
            }

            this.save();
        },
        save() {
            APIService.updateProject(this.$props.project._id, this.newValues).then((res) => {
              if (res.data) {
                //TODO: Display saved

                this.$props.project.name = res.data.project.name;
                this.$props.project.description = res.data.project.description;

                this.$emit('change');
              }
            }).catch((error) => console.error(error));
        },
        loadInformation(){
          this.newValues.name = this.$props.project.name;
          this.newValues.description = this.$props.project.description;
        },
        loadComments()
        {
          console.log("Loading comments");
          //TODO: Loading thing
          this.comments = [];
          
          APIService.getProjectComments(this.$props.project._id).then((res) => {
            
            if (res.data) {
              this.comments = res.data;
            }
          }).catch((error) => console.error(error));
        },
        postComment()
        {
          APIService.storeProjectComment(this.$props.project._id, {text: this.comment.text}).then((res) => {
            if (res.data) {
              this.comment.text = "";
              this.comment.focused = false;

              this.loadComments();
              //TODO: show successfull comment post
            }

          }).catch((error) => console.error(error));
        },
        deleteProject()
        {
          APIService.deleteProject(this.$props.project._id).then((res) => {
            this.$props.visible = false;
            this.$emit('close');
            this.$emit('change');

            this.$router.push('/');
          }).catch(error => console.error(error));
        },
        loadPermissions()
        {
          console.log("Loading permissions");

          APIService.getProjectPermissions(this.$props.project._id).then((res) => {            
            if (res.data) {

              this.users = res.data;
            }
          }).catch((error) => console.error(error));
        },
        editName()
        {
          if (this.canEdit) {
            this.editing.name = !this.editing.name;
          }
        },
        editDescription()
        {
          if (this.canEdit) {
            this.editing.description = !this.editing.description;
          }
        },
        openAddUserDialog() {
            this.newUser.dialogOpen = true;
        },
        closeAddUserDialog() {
            this.newUser.dialogOpen = false;
            this.newUser.name = "";
            this.newUser.permission = "view";
        },
        addUser() {

            APIService.storeProjectPermission(this.$props.project._id, {
                name: this.newUser.name,
                permission: this.newUser.permission
            }).then((res) => {
                console.log(res);

                if (res.data) {
                  this.loadPermissions();
                  this.closeAddUserDialog();
                  return;
                }

            }).catch((error) => {
                console.error(error);
            });
        },
    },
    directives: {
        ClickOutside
    }
}
</script>

<style scoped>
.permission-group
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
</style>