<template>
    <div>
        <h1 class="red--text font-weight-bold display-4">404</h1>
        <p class="display-1">Page Not Found</p>
    </div>
</template>

<script>
    export default { }
</script>

<style scoped>

</style>