<template>
<div>
        <v-toolbar flat class="grey lighten-2">
            <v-btn icon color="dark" @click="projectDrawer = !projectDrawer">
                <v-icon color="dark">mdi-menu</v-icon>
            </v-btn>

            <v-toolbar-title><h2>{{project.name}}</h2></v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn v-if="canEdit" depressed @click="openNewBoardDialog">
                Create Board
                <v-icon color="dark">mdi-plus</v-icon>
            </v-btn>
        </v-toolbar>

        <!-- TODO: Move board over to a separate file, and work on drag n drop -->
        <div class="g-4">
            <!-- Board -->
            <v-card v-for="board in project.boards" :key="board._id">
                <v-card-title class="dark white--text">
                    <h4>{{board.name}}</h4>
                    <v-spacer></v-spacer>
                    <v-btn icon color="white" @click="openBoardDrawer(board)">
                        <v-icon color="white">mdi-menu</v-icon>
                    </v-btn>
                </v-card-title>
                <v-card-text class="mt-4">
                    <v-expansion-panels multiple hover>

                    <!-- TODO: Move Item-container over to a separate file, and work on drag n drop -->
                        <!-- Item state -->
                        <v-expansion-panel>
                            <v-expansion-panel-header class="light-blue lighten-3">Waiting</v-expansion-panel-header>
                            <v-expansion-panel-content class="mt-4"> 
                                <!-- TODO: Move Item over to a separate file, and work on drag n drop -->
                                <v-card v-for="item in board.waitingItems" draggable @click="openItemDrawer(item)" :key="item._id" outlined class="mb-4">
                                    <v-card-text>{{item.name}}</v-card-text>
                                </v-card>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                        <!-- End Item state -->

                        <!-- Item state -->
                        <v-expansion-panel  >
                            <v-expansion-panel-header class="yellow lighten-3">In Progress</v-expansion-panel-header>
                            <v-expansion-panel-content class="mt-4"> 
                                <v-card v-for="item in board.inProgressItems" draggable @click="openItemDrawer(item)" :key="item._id" outlined class="mb-4">
                                    <v-card-text>{{item.name}}</v-card-text>
                                </v-card>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                        <!-- End Item state -->

                        <!-- Item state -->
                        <v-expansion-panel>
                            <v-expansion-panel-header class="success lighten-3">Done</v-expansion-panel-header>
                            <v-expansion-panel-content class="mt-4"> 
                                <v-card v-for="item in board.doneItems" draggable @click="openItemDrawer(item)" :key="item._id" outlined class="mb-4">
                                    <v-card-text>{{item.name}}</v-card-text>
                                </v-card>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                        <!-- End Item state -->
                    </v-expansion-panels>
                </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions v-if="canEdit">
                    <v-btn text @click="openNewItemDialog(board._id)">New Item</v-btn>
                    </v-card-actions>
            </v-card>
            <!-- End Board -->

        </div>

    <v-dialog v-model="newItemDialog.visible" key="newItem" max-width="600px" >
        <v-card>
            <v-card-title class="dark white--text">
                <h2>
                    <span class="primary--text">New</span>
                    <span class="font-weight-light"> Item</span>
                </h2>
            </v-card-title>
            <v-card-text>
                <v-form class="pt-3 ">
                    <v-text-field v-model="newItemDialog.name" label="Name"></v-text-field>
                    <v-textarea v-model="newItemDialog.description" label="Description"></v-textarea>
                </v-form>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-btn text @click="closeNewItemDialog()">Cancel</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="createNewItem()" text>Create</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <v-dialog v-model="board.dialogOpen" key="newBoard" max-width="600px" >
    <v-card>
        <v-card-title class="dark white--text">
            <h2>
                <span class="primary--text">New</span>
                <span class="font-weight-light"> Board</span>
            </h2>
        </v-card-title>
        <v-card-text>
            <v-form class="pt-3 ">
                <v-text-field v-model="board.name" label="Name"></v-text-field>
                <v-textarea v-model="board.description" label="Description"></v-textarea>
            </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
            <v-btn text @click="closeNewBoardDialog">Cancel</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="createNewBoard">Create</v-btn>
        </v-card-actions>
      </v-card>
  </v-dialog>

    <BoardDrawer @open="boardDrawer = true" @close="boardDrawer = false" @change="getProjectData" :visible="boardDrawer" :project="project" :board="selectedBoard" />
    <ProjectDrawer @open="projectDrawer = true" @close="projectDrawer = false" @change="getProjectData" :visible="projectDrawer" :project="project" />
    <ItemDrawer @open="itemDrawer = true" @close="itemDrawer = false" @change="getProjectData" :visible="itemDrawer" :project="project" :item="selectedItem" />

</div>
</template>

<script>
import BoardDrawer from "./inc/Drawers/BoardDrawer";
import ProjectDrawer from "./inc/Drawers/ProjectDrawer";
import ItemDrawer from "./inc/Drawers/ItemDrawer";
import APIService from '../services/APIService';


export default {
    components: {
        BoardDrawer,
        ProjectDrawer,
        ItemDrawer
    },
    created()
    {
        this.getProjectData();
    },
    computed: {
        canEdit() {
            return (this.project.permission == "edit" || this.project.permission == "admin" || this.project.permission == "owner");
        }
    },
    data() {
        return {
            projectDrawer: false,
            boardDrawer: false,
            itemDrawer: false,
            newItemDialog: {
                visible: false,
                board_id: 0,
                name: "",
                description: "",
                state: ""
            },
            project: {},
            board: {
                dialogOpen: false,
                name: "",
                description: ""
            },
            selectedBoard: {},
            selectedItem: {}
        }
    },
    methods: {
        getProjectData() {
            APIService.getProjectById(this.$route.params._id, {
                title: this.board.title,
                description: this.board.description
            }).then((res) => {
                console.log(res.data);

                this.project = res.data.project;

                this.project.boards.forEach(board => {

                    board.waitingItems = [];
                    board.inProgressItems = [];
                    board.doneItems = [];

                    board.items.forEach(item => {
                        if (item.state == "waiting") {
                            board.waitingItems.push(item);
                        }
                        else if (item.state == "in_progress") {
                            board.inProgressItems.push(item);
                        }
                        else if (item.state == "done") {
                            board.doneItems.push(item);
                        }
                    });
                });
            }).catch((error) => {
                if(error.response.status == 401)
                {
                    this.$router.go(-1);
                }
            });
        },
        openNewItemDialog: function (board_id)
        {
            this.newItemDialog.board_id = board_id;

            this.newItemDialog.visible = true;
        },
        closeNewItemDialog: function(){
            this.newItemDialog.board_id = 0;
            this.newItemDialog.state = "";
            this.newItemDialog.title = "";
            this.newItemDialog.description = "";

            this.newItemDialog.visible = false;
        },
        createNewItem() {

        //TODO: Validation and response

            APIService.storeItem(this.$route.params._id, this.newItemDialog.board_id, {
                name: this.newItemDialog.name,
                description: this.newItemDialog.description,
                state: "waiting"
            }).then((res) => {
                console.log(res);
                this.newItemDialog.name = "";
                this.newItemDialog.description = "";
                this.getProjectData();
                this.closeNewItemDialog();

            }).catch((error) => {
                console.error(error);
            });
        },
        openNewBoardDialog() {
            this.board.dialogOpen = true;
        },
        closeNewBoardDialog() {
            this.board.dialogOpen = false;
            this.board.name = "";
            this.board.description = "";
        },
        createNewBoard() {


            APIService.storeBoard(this.$route.params._id, {
                name: this.board.name,
                description: this.board.description
            }).then((res) => {
                console.log(res);

                this.getProjectData();
                this.closeNewBoardDialog();

            }).catch((error) => {
                console.error(error);
            });
        },
        openBoardDrawer(board)
        {
            this.selectedBoard = board;
            this.boardDrawer = !this.boardDrawer;
        },
        openItemDrawer(item)
        {
            this.selectedItem = item;
            this.itemDrawer = !this.itemDrawer;
        }
    }
};
</script>

<style scoped>
.g-4 {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: max-content;
    column-gap: 15px;
    row-gap: 15px;
}

@media only screen and (max-width: 1850px) {
  .g-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 959px) {
  .g-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 770px) {
  .g-4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .g-4 {
    grid-template-columns: 1fr;
  }
}
</style>
