<template>
  <div>

    <v-toolbar flat class="grey lighten-2">
      <v-toolbar-title>My Projects</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn depressed @click="openNewProjectDialog">
        Create Project
        <v-icon color="dark">mdi-plus</v-icon>
      </v-btn>
    </v-toolbar>

<div v-for="project in projects.my">
    <v-card @click="openProject(project._id)" outlined class="mb-4">
      <v-card-text>
        <div class="permission-group">
          <div class="permission-item">
            <small>Project Name</small>
            <h4>{{project.name}}</h4>
          </div>

          <div class="permission-item">
            <small>Created</small>
            <h4>{{ project.createdAt | formatDate }}</h4>
          </div>

          <div class="permission-item">
            <small>Last edited</small>
            <h4>{{ project.updatedAt | formatDate}}</h4>
          </div>
        </div>
      </v-card-text>
    </v-card>
    </div>

      <v-toolbar v-if="projects.shared.length > 0" flat class="grey lighten-2">
        <v-toolbar-title>Shared Projects</v-toolbar-title>
      </v-toolbar>

<div v-for="project in projects.shared" :key="project._id">
    <v-card @click="openProject(project._id)" outlined class="mb-4">
      <v-card-text>
        <div class="permission-group">
          <div class="permission-item">
            <small>Project Name</small>
            <h4>{{project.name}}</h4>
          </div>

          <div class="permission-item">
            <small>Created</small>
            <h4>{{ project.createdAt | formatDate }}</h4>
          </div>

          <div class="permission-item">
            <small>Last edited</small>
            <h4>{{ project.updatedAt | formatDate}}</h4>
          </div>
        </div>
      </v-card-text>
    </v-card>
    </div>

    <v-dialog v-model="project.dialogOpen" max-width="600px" >
    <v-card>
        <v-card-title class="dark white--text">
            <h2>
                <span class="primary--text">New</span>
                <span class="font-weight-light"> Project</span>
            </h2>
        </v-card-title>
        <v-card-text>
            <v-form class="pt-3 ">
                <v-text-field v-model="project.name" label="Name"></v-text-field>
                <v-textarea v-model="project.description" label="Description"></v-textarea>
            </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
            <v-btn text @click="closeNewProjectDialog">Cancel</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="createNewProject">Create</v-btn>
        </v-card-actions>
      </v-card>
  </v-dialog>


  </div>
</template>

<script>
import APIService from '../services/APIService'

export default {
  data() {
    return {
      project: {
        dialogOpen: false,
        name: "",
        description: ""
      },
      projects: {
        my: [],
        shared: []
      }
    }
  },
  created() {
    APIService.getProjects().then((res) => {
      console.log(res);

      this.projects.my = [];
      this.projects.shared = [];

      for (let i = 0; i < res.data.length; i++) {
        const project = res.data[i];

        if (project.permission == "owner")
          this.projects.my.push(project);
        else
          this.projects.shared.push(project);
      }

    }).catch((error) => {
      console.error(error);
    });
  },
  methods: {
    openNewProjectDialog() {
      this.project.dialogOpen = true;
    },
    closeNewProjectDialog() {
      this.project.dialogOpen = false;
      this.project.name = "";
      this.project.description = "";
    },
    createNewProject() {

      //TODO: Validation and response

      APIService.storeProject({
        name: this.project.name,
        description: this.project.description
      }).then((res) => {
        console.log(res);
        if (res.data) {
          if (res.data.project._id) {
            this.$router.push("/project/" + res.data.project._id);
          }
        }
        else
          console.log(res.errors);
          

      }).catch((error) => {
        console.error(error);
      });
    },
    openProject(id)
    {
      this.$router.push("/project/" + id);
    }
  }
}
</script>

<style scoped>
.permission-group
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
</style>